#calendarDiv{
	position:absolute;
	width:205px;
	border:1px solid #999999; /*#317082 - BORDA DA CAIXA DO CALENDÁRIO*/
	padding:1px;
	background-color: #FFF; /*#FFF - COR DE FUNDO DO CALENDÁRIO*/
	font-family:arial;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}

#calendarDiv .selectBox{
	border:1px solid #E2EBED;	/*#E2EBED - BORDA DO MES E ANO NA CAIXA PRINCIPAL*/	
	color: white;/*#E2EBED - COR DO MES E ANO NA CAIXA PRINCIPAL*/
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:1px solid #FFF;
	background-color: #666666; /*#317082 -COR DO FUNDO DO TEXTO DE MES E ANO NA CAIXA PRINCIPAL - HOVER*/
	color: #FFF;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border:1px solid #317082;		
	color: #317082; 
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border:1px solid #216072;	
	color: #216072;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	background-color: #6F666E; /*#317082 - BARRA SUPERIOR*/


}
#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000; /*#FF0000*/
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #F0F0F0; /*#E2EBED  - BARRA INFERIOR*/
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#calendarDiv .todaysDate div{
	float:left;
}
	
#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED; /*#E2EBED*/
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}


#calendarDiv .monthYearPicker{
	background-color: #F0F0F0; /*#E2EBED - FUNDO DA CAIXA DE SELEÇÃO DESDOBRADA*/
	border:1px solid #AAAAAA; /*#AAAAAA - BORDA DA CAIXA DE SELEÇÃO DO ANO E MES DESDOBRADA*/
	position:absolute;
	color: #5E515B; /*#317082  - COR DO ANO E MES NA CAIXA DE SELEÇÃO DESDOBRADA*/
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#calendarDiv #monthSelect{
	width:70px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#DBDBDB; /*#317082 HOVER DA CAIXA DE SELEÇÃO ANO-MES DESDOBRADA - FUNDO*/
	color: black; /*#E2EBED - HOVER DA CAIXA DE SELEÇÃO ANO-MES DESDOBRADA - FONTE*/
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}